{% extends 'base.html.twig' %}

{% block title %}Upcoming Events{% endblock %}

{% block body %}
    {% include "generic/page-header.html.twig" with { pagetitle: 'Upcoming Events' } %}
    <div class="row">
        {% include "event/snippets/summary.html.twig" with {
            events: events
        } %}
        {% include "event/snippets/sidebar.html.twig" %}
    </div>
{% endblock %}
