{% extends 'base.html.twig' %}

{% block title %}Upcoming Events{% endblock %}

{% block body %}
    {% include "generic/page-header.html.twig" with {
        pagetitle: 'Upcoming Events',
        actions: [{
            name: 'event_new',
            label: 'add new event',
            class: 'success',
        }]
    } %}
    <div class="row">
        {% include "event/snippets/summary.html.twig" with {
            events: events
        } %}
        {% include "event/snippets/sidebar.html.twig" %}
    </div>
{% endblock %}
