{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row bg-dark">
        <div class="col-2">
            <img src="{{asset('img/logo.png')}}" alt="logo" class="img-fluid">
        </div>
        <div class="col-6">
            {# <p class="h1 display-1 text-light">Lae city UP?!</p> #}
            <p class="text-light">Lorem ipsum dolor sit amet, excepteur proident aute culpa Lorem adipisicing officia aute do elit Lorem et aute esse ad. Qui aliqua cupidatat cupidatat adipisicing irure fugiat sint ea proident eu sit ullamco nisi nisi. Eu in ea ea ad sit sunt voluptate proident cillum cillum. Consequat nisi proident quis nisi voluptate velit eiusmod excepteur ex ut ex voluptate. Eu reprehenderit mollit incididunt tempor fugiat mollit ullamco velit do adipisicing. Ut cupidatat id officia nisi magna aliquip duis labore deserunt occaecat enim Lorem labore aliqua irure fugiat. Mollit ipsum nostrud id proident amet et eu mollit aute dolore.</p>
            <p class="text-light">Labore ea consectetur pariatur qui labore proident ea duis incididunt velit. Culpa laborum proident commodo pariatur duis quis ipsum. Laborum ex nulla cupidatat fugiat id nisi dolor ipsum voluptate esse occaecat id. Cupidatat sunt duis anim tempor est exercitation ipsum consequat ullamco ex anim velit do ad. Nisi aliqua sunt commodo laborum cillum aute voluptate adipisicing sunt consequat anim ipsum irure. Ipsum ea veniam consequat veniam occaecat. Nisi ipsum culpa eiusmod incididunt commodo dolor eiusmod cillum nisi ullamco id esse veniam nisi excepteur.</p>
            <p class="text-light">Excepteur proident commodo Lorem ullamco veniam esse velit laboris culpa excepteur in ex cupidatat elit. Proident nostrud culpa Lorem dolor et commodo et occaecat ut exercitation cillum ut sunt esse et nisi qui. Consequat sunt elit ut officia ullamco proident tempor pariatur. Elit mollit velit consectetur aliqua occaecat quis reprehenderit. Cupidatat cupidatat sunt sunt excepteur occaecat cillum amet. Deserunt Lorem veniam aliquip quis sunt nulla voluptate aliquip. Anim nostrud nostrud Lorem tempor do ullamco laborum laboris elit incididunt id laborum.</p>
            <p class="text-light">Ut duis nostrud nostrud elit magna officia nisi Lorem ea aliquip nisi laborum nulla ea incididunt nulla cillum id. Laborum exercitation adipisicing ex magna irure deserunt dolore Lorem exercitation proident consectetur esse sint proident proident pariatur nostrud culpa. Pariatur elit occaecat do labore pariatur ut Lorem labore sunt culpa anim excepteur excepteur et cupidatat eu ullamco ad occaecat. Reprehenderit enim reprehenderit in esse consectetur quis voluptate mollit culpa aliquip velit aliqua quis.</p>
            <p class="text-light">Labore fugiat amet ea aute. Commodo quis veniam consectetur. Incididunt occaecat elit id cillum consequat voluptate sint eiusmod sunt irure quis. Aute ipsum velit in laborum et magna incididunt nulla esse excepteur non. Est amet fugiat aliquip ullamco deserunt velit consequat esse deserunt exercitation veniam incididunt adipisicing labore. Laboris sit exercitation est. Do fugiat aliqua enim sit aute qui est ad minim excepteur excepteur sint ullamco ea. Sunt cillum veniam et cupidatat eiusmod officia nisi proident occaecat mollit tempor velit ad laboris excepteur.</p>
        </div>
    </div>
{% endblock %}
