{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <img src="{{asset('img/logo.png')}}" alt="logo" class="img-fluid col-4 float-left">
            {# <p class="h1 display-1 text-light">Lae city UP?!</p> #}
            <p class="">I have much pleasure in introducing you the website of the Lae Chamber of Commerce Inc. Our office is currently situated on the Ground Floor, the Professional Haus, Cnr Central Ave and Fifth St, Lae. Please come and visit us at this central location which offers good secure parking.</p>
            <p class="">Lae, the capital of Morobe Province and the gateway to the Highland Provinces, is the second largest City in Papua New Guinea with a population of around 350,000 people (preliminary figures from the year 2011 census).</p>
            <p class="">Being the Industrial center of PNG, Lae boasts of a wide range of businesses and a vibrant commercial sector involved in importing, re-packaging, manufacturing, transportation and exporting goods to and from nearby Provinces, in particular the Highland Provinces. The Highlands Region has the most dense population in the country, and a large percentage of all goods travel from Lae along the Okuk (Highlands) Highway to the seven Highland Provinces; these being Eastern Highlands, Simbu, Western Highlands, Southern Highlands, Enga, Jiwaka and Hela. A string of new businesses have been established along the Lae to Nadzab corridor, many servicing the Resource sector, especially the Hidden Valley Mine, the Wafi-Golpu mining developments and the LNG Gas project. The Japanese International Cooperation Agency (JICA) have recently completed a Lae-Nadzab Urban Development Plan which will formalize the current trend to develop much of the Nadzab corridor.</p>
            <p class="">The Highlands and Morobe Provinces produce the majority of PNG’s coffee, which is one of the prime export products from the Lae Port. The Lae seaport contributes in excess of 60% of Papua New Guinea’s movement of import & export cargo in any one year, as well as receiving and distributing cargo for and on behalf of the outer sea ports in Papua New Guinea, which makes Lae Port one of the busiest ports in the Pacific Islands region.</p>
            <p class="">Due its locality, the Lae Chamber of Commerce Inc. represents a large number of the businesses that function in this industrial hub of Papua New Guinea, thus contributing to our robust Chamber. A strong manufacturing sector has developed producing many and varied products including – soap, detergents, industrial chemicals and cleaners, paint, steel and steel fabrications, gas, soft drinks, beer, biscuits, canned fish, chicken processed products, timber products and plywood, rice and packaged flour.</p>
            <p class="">Another major business sector in Lae is agriculture and fishing. The Markham Valley, which traverses Morobe Province from East to West, is often called the food-bowl of PNG. With the abundance of flat, fertile plains, the Markham has long been realised as having the most significant agricultural potential in PNG. The Huon Gulf, which dominates coastal Morobe Province, caters for a fledgling fishing industry, with an abundance of fish maintained by the deep waters, and supplied by the many fast flowing rivers. The Department of Fisheries is well down the track with plans to develop a dedicated fisheries wharf and land for fisheries related activities in a large stretch of land that has been purchased from Voco Point toward the Busu River.</p>
            <p class="">Morobe and its surrounding Provinces, also have such diverse attractions that lend themselves to Papua New Guinea’s developing tourism industry. The Lae Chamber of Commerce Inc. is very much committed to promoting this potentially profitable associated industry that encompasses business development in Morobe Province. Recently a new Tourism Bureau was formed for the Province and the newly elected Chairman is committed to improving tourism activities in the Province.</p>
            <p class="">To conclude I welcome you to glance through our web pages for more information; if however you do require other specifics details, please contact our office via the Contact Us page. We can help you and your business endeavours in Lae.</p>
            <p class="">Alan McLay OL</p>
            <p class="">PRESIDENT</p>
        </div>
    </div>
{% endblock %}
