{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe6WNe0xXTA0aEOsPj6kCDeRdexVd60T8vxU7rr7mkq8MygcA/viewform?embedded=true" width="1200" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
{% endblock %}
