{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row">
        {% include "event/snippets/calendar.html.twig" %}
    </div>
    <div class="row">
        <div class="col-12">
            <p class="lead text-info">Events for Next Month</p>
        </div>
        {% include "event/snippets/summary.html.twig" with {events: nextMonthEvents} %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bootstrapcalendarjs') }}
{% endblock %}