{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block hero %}
    <div style="background-image: url('{{cloudinary_url("samples/animals/three-dogs.jpg")}}'); background-position: top; background-repeat: no-repeat; background-size: cover;" class="v-100 w-100 vh-100 d-sm-none d-md-block">
        <div class="container">
            <div class="" style="position: absolute; top: 1rem; left: 1rem;">
                <div class="row">
                    <div class="col text-center">
                        <div style="background: #343a4073;" class="p-1 px-3">
                            <p class="h1 display-1 text-light">Lae What's On</p>
                            <p class="text-primary">get the latest news and events happening in and around lae city</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#menu-nav" class="btn float-right btn-primary rounded-circle" style="position: absolute; bottom: 2rem; left: 4rem;">V</a>
{% endblock %}

{% block body %}
    <div class="row">
        {% include "event/snippets/summary.html.twig" %}
    </div>
{% endblock %}
