{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row d-none d-md-block mb-3">
        {% include "event/snippets/calendar.html.twig" %}
    </div>
    <div class="row d-block d-md-none mb-3">
        <div class="col-12">
            <p class="lead text-info">
                {{ currentMonth is defined ? currentMonth|date('F Y') : date()|date('F Y') }} Events
            </p>
        </div>
        {% include "event/snippets/summary.html.twig" %}
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <p class="lead text-success">Event Categories</p>
        </div>
        {% include "category/snippets/list.html.twig" %}
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <p class="lead text-success">Events for Next Month</p>
        </div>
        {% include "event/snippets/summary.html.twig" with {events: nextMonthEvents} %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bootstrapcalendarjs') }}
{% endblock %}