{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('bootstrapcalendarcss') }}
{% endblock %}

{% block title %}Home{% endblock %}

{# {% block hero %}
    <div style="background-image: url('{{cloudinary_url("samples/animals/three-dogs.jpg")}}'); background-position: top; background-repeat: no-repeat; background-size: cover;" class="vh-25 d-none d-sm-none d-md-block d-lg-block d-xl-block">
        <div class="container">
            <div class="" style="position: absolute; top: 1rem; left: 1rem;">
                <div class="row">
                    <div class="col text-center">
                        <div style="background: #343a4073;" class="p-1 px-3">
                            <div class="row">
                                <div class="col-2">
                                    <img src="{{asset('img/logo.png')}}" alt="logo" class="img-fluid">
                                </div>
                                <div class="col-6">
                                    <p class="h1 display-1 text-light">Lae city UP?!</p>
                                    <p class="text-primary">get the latest events that are happening in and around our beautiful lae city in one place...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="scrollToContent" href="#menu-nav" class="btn float-right btn-primary rounded-circle" style="position: absolute; bottom: 2rem; left: 4rem;">V</a>
    </div>
{% endblock %} #}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="cal-row-fluid cal-row-head">
                {# <% _.each(days_name, function(name){ %> #}
                    <div class="cal-cell1">name</div>
                {# <% }) %> #}
            </div>
            <div class="cal-month-box">
                {# <% for(i = 0; i < 6; i++) { %> #}
                    {# <% if(cal.stop_cycling == true) break; %> #}
                    <div class="cal-row-fluid cal-before-eventlist">
                        <div class="cal-cell1 cal-cell" data-cal-row="-day1"><%= cal._day(i, day++) %></div>
                        <div class="cal-cell1 cal-cell" data-cal-row="-day2"><%= cal._day(i, day++) %></div>
                        <div class="cal-cell1 cal-cell" data-cal-row="-day3"><%= cal._day(i, day++) %></div>
                        <div class="cal-cell1 cal-cell" data-cal-row="-day4"><%= cal._day(i, day++) %></div>
                        <div class="cal-cell1 cal-cell" data-cal-row="-day5"><%= cal._day(i, day++) %></div>
                        <div class="cal-cell1 cal-cell" data-cal-row="-day6"><%= cal._day(i, day++) %></div>
                        <div class="cal-cell1 cal-cell" data-cal-row="-day7"><%= cal._day(i, day++) %></div>
                    </div>
                {# <% } %> #}
            </div>
            <div id="calendar">
            </div>
        </div>
    </div>
    <div class="row">
        {% include "event/snippets/summary.html.twig" %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('bootstrapcalendarjs') }}
{% endblock %}