<div class="bg-dark text-light">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            {{ knp_menu_render('main', {
                'currentClass': 'active',
            })}}
            {% set adminUrl = ea_url()
                .setController('App\\Controller\\Admin\\EventCrudController')
             %}
            <a class="nav-link" href="{{adminUrl}}">Admin</a>
        </div>
    </nav>
</div>