<div class="bg-dark text-light">
    <nav class="navbar navbar-light container-fluid">
        <div class="container">
            {{ knp_menu_render('main', {
                'currentClass': 'active',
            })}}
        </div>
    </nav>
</div>