{% extends 'base.html.twig' %}

{% block title %}{{category.name}} Category{% endblock %}

{% block body %}
    {% include "generic/page-header.html.twig" with {
        pagetitle: category.name~' Category',
        actions: [{
            name: 'category_edit',
            id: category.id,
            label: 'update category details',
            class: 'warning',
        },{
            name: 'category_index',
            label: 'back to list of categories',
            class: 'success',
        },{
            name: 'event_index',
            label: 'jump to list of events',
            class: 'primary',
        }]
    } %}
    <div class="row">
        <div class="col-12">
            <p>{{ category.description }}</p>
            <p>There are a total of {{ category.events.count }} events in this category </p>
        </div>
    </div>
    {% include "event/snippets/summary.html.twig" with {
        events: category.events
    } %}
{% endblock %}
