<hr>
<div class="bg-dark text-light pt-3 pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col">
                <p class="lead">Helpful Links</p>
                <div class="list-group list-group-flush">
                    <a href="{{path('contact')}}" class="list-group-item list-group-item-action list-group-item-primary">Contact Us</a>
                    <a href="{{path('about')}}" class="list-group-item list-group-item-action list-group-item-primary">About Us</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Disabled item</a>
                </div>
            </div>
            <div class="col">
                <p class="lead">Connect with us</p>
                <div class="list-group list-group-flush">
                    <a target="_blank" href="https://www.facebook.com/sudotech.biz" class="list-group-item list-group-item-action list-group-item-primary">Facebook</a>
                    <a target="_blank" href="https://www.twitter.com/@sylvery" class="list-group-item list-group-item-action list-group-item-primary">Twitter</a>
                    <a target="_blank" href="https://www.linkedin.com/sylvery" class="list-group-item list-group-item-action list-group-item-primary">LinkedIn</a>
                </div>
            </div>
            <div class="col">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsudotech.biz%2F&tabs=timeline&width=500&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1248260775254109" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-muted text-center"><i class="fa fa-copyright" aria-hidden="true"></i>Copyright Lae What's On {{date('Y')|date('Y')}}</p>
            </div>
        </div>
    </div>
</div>