<div class="col-md-3">
    <p class="lead">Sidebar</p>
    <div class="card bg-dark text-light mb-3">
        <img class="card-img-top img-fluid" src="{{ cloudinary_url('sample.jpg') }}" alt="">
        <div class="card-body">
            <h4 class="card-title">Sample Image</h4>
            <p class="card-text">Image source: Cloudinary</p>
        </div>
    </div>
    <div class="card bg-dark text-light mb-3">
        <img class="card-img-top img-fluid" src="{{ cloudinary_url('samples/animals/three-dogs.jpg') }}" alt="">
        <div class="card-body">
            <h4 class="card-title">Sample Image</h4>
            <p class="card-text">Image source: Cloudinary</p>
        </div>
    </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary active">Active item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary disabled">Disabled item</a>
    </div>
</div>