<div class="col-md-3">
    <p class="lead">Featured Events</p>
    {% for event in events %}
        {% if event.featured %}
            {% if loop.index is same as(2) %}
                <div class="card bg-dark text-light mb-3">
                    <img class="card-img-top img-fluid" src="{{ cloudinary_url('sample.jpg') }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ event.title }}</h4>
                        {# <p class="card-text d-none">Lorem ipsum dolor sit amet, ipsum esse minim irure non ad sunt reprehenderit esse eiusmod. Occaecat excepteur Lorem ipsum ad eiusmod cillum enim proident proident in magna occaecat aute nulla non consequat.</p> #}
                    </div>
                </div>
            {% else %}
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-danger border-bottom-dark">{{ event.title}}</a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>