<div class="col-md-3">
    <p class="lead">Sidebar</p>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary active">Active item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary disabled">Disabled item</a>
    </div>
</div>