.cropped-img{
    width: 100%;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) { 
  .navbar-brand {
    position: relative;
    left: 35%;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .card-columns {
    column-count: 2;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .card-columns {
    column-count: 3;
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .card-columns {
    column-count: 4;
  }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .card-columns {
    column-count: 5;
  }
}
.sticky {
  /* position: sticky; */
  /* top: 0px; */
  z-index: 100;
}

.active {
  border-bottom: 2px solid var(--green);
}

#menu-nav .sticky{
  position: fixed; /* Fixed position - sit on top of the page */
  background: darkolivegreen;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full width */
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}